# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env 

VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR6eWdjYmp6aXZoc3Fra2dqbWFuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc3MDg0MDksImV4cCI6MjA1MzI4NDQwOX0.hbIxhm0Iczv5OXxczZmYftBkP0ZeyRlNDnQl4DQ1wo8
VITE_SUPABASE_URL=https://tzygcbjzivhsqkkgjman.supabase.co
